extends ../shared/template

block content

  .container__dates

    header.header
      include ../shared/nav

    section.dates-box
      h3 Dates

      section.confirmed-dates-box
        h4 Confirmed Dates
        .inner-date-wrapper
          if(dateInvites)
            each date in dateInvites
              if(date.isConfirmed)
                .date-item
                  .image-box
                    img(src=date.creatorPhoto)
                  .place-name= date.location.name
                  .time= date.day
                  a(href='/dates/#{date._id}')
                    button View
          if(creatorDates)
            each date in creatorDates
              if(date.isConfirmed)
                .date-item
                  .image-box
                    img(src=date.creatorPhoto)
                  .place-name= date.location.name
                  .time= date.day
                  a(href='/dates/#{date._id}')
                    button View

      section.proposed-dates-box
        h4 Proposed Dates
        .inner-date-wrapper
          if(dateInvites)
            each date in dateInvites
              if(!date.isConfirmed)
                .date-item
                  .image-box
                    img(src=date.creatorPhoto)
                  .place-name= date.location.name
                  .time= date.day
                  a(href='/dates/#{date._id}')
                    button View

    section.interested-box
      h3 Interested
      .interested-box__inner
        if(suitors)
          each suitor in suitors
            .interested-person
              .image-box
                 if(suitor.photos.length)
                       each photo,i in suitor.photos
                         if(photo.isPrimary)
                           img(src=photo.path)
                     else
                       img(src='/img/#{suitor.gender}.png')
              .name= suitor.firstName
              .profile-link-box
                a.profile-link(href='/users/#{suitor._id}') Profile
              a(href='/users/suitors/#{suitor._id}')
                .remove-interest-box X

    section.mutual-box
      h3 Mutual
      .mutual-box__inner
        .mutual-box__another-inner
          //- .arrow.arrow-left arrow
          if(matches)
            each match in matches
              .mutual-person
                .person-name= match.firstName
                .image-box
                  if(match.photos.length)
                    each photo,i in match.photos
                      if(photo.isPrimary)
                        img(src=photo.path)
                        .blurb= photo.blurb
                  else
                    img(src='/img/#{match.gender}.png')
                .profile-link-box
                  a.profile-link(href='/users/#{match._id}') Profile
                .button-box
                  a(href='/dates/new/#{match._id}')
                    button#invite-mutual-person Propose Date
                  //- button#invite-contact-person Propose Contact

        //- .button-box
        //-   button#invite-mutual-person Propose Date
        //-   button#invite-contact-person Propose Contact


    //- section.blocked-box
    //-   h5 Blocked
    //-   ul
    //-     li Lorem ipsum.
    //-     li Lorem ipsum.
    //-     li Lorem ipsum.
    //-     li Lorem ipsum.
    //-     li Lorem ipsum.
    //-     li Lorem ipsum.
    //-     li Lorem ipsum.
    //-     li Lorem ipsum.
    //-     li Lorem ipsum.
    //-     li Lorem ipsum.
    //-     li Lorem ipsum.
    //-     li Lorem ipsum.
