extends ../shared/template

block content

  .container__dates

    header.header
      include ../shared/nav

    section.dates-box

      section.confirmed-dates-box
        h4 Confirmed Dates
        each date in dateInvites
          if(date.isConfirmed)
            .date-item
              .image-box
                img(src=date.creatorPhoto)
              .place-name= date.location.name
              .time= date.day
              button View

      section.proposed-dates-box
        h3 Proposed Dates
        each date in dateInvites
          if(!date.isConfirmed)
            .date-item
              .image-box
                img(src=date.creatorPhoto)
              .place-name= date.location.name
              .time= date.day
              button View

    section.interested-box
      h3 Interested
      .interested-box__inner
        //- each suitor in suitors
        //-   .interested-person
        //-     .image-box
        //-        each photo in suitor.photos
        //-          if(photo.isPrimary)
        //-            img(src=photo.path)
        //-     .name= suitor.firstName
        //-     .profile-link-box
        //-       a.profile-link(href='/users/#{suitor._id}') Profile
        //-     .remove-interest-box X

    section.mutual-box
      h3 Mutual
      .mutual-box__inner
        .mutual-box__another-inner
          //- .arrow.arrow-left arrow
          .mutual-person
            .person-name Name
            .image-box
              img(src='/img/old-lady.jpg')
            .profile-link-box
              a.profile-link(href='') Profile
            .button-box
              button#invite-mutual-person Propose Date
              button#invite-contact-person Propose Contact
          .mutual-person
            .person-name Name
            .image-box
              img(src='/img/old-lady.jpg')
            .profile-link-box
              a.profile-link(href='') Profile
            .button-box
              button#invite-mutual-person Propose Date
              button#invite-contact-person Propose Contact
          .mutual-person
            .person-name Name
            .image-box
              img(src='/img/old-lady.jpg')
            .profile-link-box
              a.profile-link(href='') Profile
            .button-box
              button#invite-mutual-person Propose Date
              button#invite-contact-person Propose Contact
          //- .arrow.arrow-right arrow

        //- .button-box
        //-   button#invite-mutual-person Propose Date
        //-   button#invite-contact-person Propose Contact


    section.blocked-box
      h5 Blocked
      ul
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
        li Lorem ipsum.
