extends ../shared/template

block content
  .container__photo
    .wrapper
      form(method='post', action='/users/photos', enctype='multipart/form-data')
        input.form-control(type='file', multiple='true', name='photos')
        button.update-photos Add Photos

      form(method='post', action='/users/photos/update')
        button.update-photos Update Photos
        each photo, i in user.photos
          input.form-control(type='hidden', name='path', value=photo.path)
          input.form-control(type='hidden', name='fileName', value=photo.fileName)
          .photo
            img(src=photo.path)
            p
              input.form-control(type='text', placeholder='a blurb about this photo...', name='blurb', value=photo.blurb, autofocus=true)
            if(photo.isPrimary)
              input(type='radio', name='primary', value=i, checked=true)
              span Primary
            else
              input(type='radio', name='primary', value=i)
              span Primary
