extends ../shared/template

block content

  .container__profile

    header.header
      include ../shared/nav
      form(method='POST', action='/users/update')
        section.bio
          img.badge
          .image-box
            button
              a(href='/users/editPhotos') Manage Photos
            if(user.photos.length)
              each photo,i in user.photos
                if(photo.isPrimary)
                  img(src=photo.path, style='max-width:20%;')
            else
              img(src='/img/#{user.gender}.png')
            span.name= user.firstName
          .stats
            ul
              li Zip Code:
                input.form-control(type='text', name='location', value=user.location)
              li Gender:
                span= user.gender
              li Age:
                span= user.age
          .inner-bio-box
            h3 Bio
            p.bio.text
              textarea.form-control(name='bio')= user.bio
          .save-box
            img.saveIcon(src='/img/signup.svg')
            button.saveProfile Save Profile


        section.interests-values-box
          .interests-box
            h3 Interests
            ul
             each interest in user.interests
               li
                 input.form-control(type='text', name='interests', value=interest)
          .values-box
            h3 Values
              ul
                each value in user.values
                  li
                    input.form-control(type='text', name='values', value=value)
