extends ../shared/template

block content

  .container__profile

    header.header
      include ../shared/nav
    if(profile)
      section.bio
        //- img.badge
        form.add-interest-button(method='post', action='/users/suitors')
          input(type='hidden', name='userId', value=profile._id)
          button.interested Interested
        .image-box
          if(profile.photos.length)
            each photo,i in profile.photos
              if(photo.isPrimary)
                img(src=photo.path)
                .blurb= photo.blurb
          else
            img(src='/img/#{profile.gender}.png')

        .stats
          ul
            li= profile.firstName
            li= profile.location
            li= profile.gender
            li= profile.age
        .inner-bio-box
          p.bio-text= profile.bio

      section.interests-values-box
        .interests-box
          h3 Interests
          ul
           each interest in profile.interests
             li= interest
        .values-box
          h3 Values
          ul
            each value in profile.values
              li= value

    else
      section.bio
        img.badge
        .image-box
          if(user.photos.length)
            each photo,i in user.photos
              if(photo.isPrimary)
                img(src=photo.path)
                .blurb= photo.blurb
          else
            img(src='/img/#{user.gender}.png')
        .stats
          ul
            li= user.firstName
            li= user.location
            li= user.gender
            li= user.age
        .inner-bio-box
          p.bio-text= user.bio
        .editProfile
          a(href='/users/editProfile')
            img.edit-icon(src='/img/pencil.svg')
            p Edit Profile


      section.interests-values-box
        .interests-box
          h3 Interests
          ul
           each interest in user.interests
             li= interest
        .values-box
          h3 Values
          ul
            each value in user.values
              li= value

block scripts
  script(src='/js/es6/compiled/profile.js')
