extends ../shared/template

block content

  .container__profile

    header.header
      include ../shared/nav
    if(profile)
      section.bio
        img.badge
        .image-box
          if(profile.photos.length)
            each photo,i in profile.photos
              if(photo.isPrimary)
                img(src=photo[i].path)
          else
            img(src='/img/#{profile.gender}.png')

          span.name= profile.firstName
        .stats
          ul
            li= profile.location
            li= profile.gender
            li= profile.age
        .inner-bio-box
          h3 Bio
          p.bio-text= profile.bio

      section.interests-values-box
        .interests-box
          h3 Interests
          ul
           each interest in profile.interests
             li= interest
        .values-box
          h3 Values
          ul
            each value in profile.values
              li= value

    else
      button
        a(href='/users/editProfile') Edit Profile
      section.bio
        img.badge
        .image-box
          if(user.photos.length)
            each photo,i in user.photos
              if(photo.isPrimary)
                img(src=photo[i].path)
          else
            img(src='/img/#{user.gender}.png')
          span.name= user.firstName
        .stats
          ul
            li= user.location
            li= user.gender
            li= user.age
        .inner-bio-box
          h3 Bio
          p.bio-text= user.bio

      section.interests-values-box
        .interests-box
          h3 Interests
          ul
           each interest in user.interests
             li= interest
        .values-box
          h3 Values
          ul
            each value in user.values
              li= value
