extends ../shared/template

block content

  .container__search

    header.header
      include ../shared/nav

    section.top-section
      p.big-text Find your match.

    //- section.select-section
    //-   select.form-control Select
    //-     option Option
    //-   button.add Add
    //-   button.go Go

    each user in users
      .person
        .image-box

          if(user.photos.length)
            each photo,i in user.photos
              if(photo.isPrimary)
                img(src=photo.path)
                .name= user.firstName
          else
            img(src='/img/#{user.gender}.png')
        .bio-box
          p.bio-text= user.bio

        a(href='/users/#{user._id}')
          button View
